body{
    background-image: url('bg.jpg');
    font-family: 'Oswald', sans-serif;
}

   
.left{
    display: inline-block;
    /* border: 2px solid white; */
    width: 80px;
    height: 80px;
    /* background-image: url('lo.png'); */
    margin-left: 20px;
    margin-top: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}
.left a{
    color: rgba(245, 245, 245, 0.979);
    /* letter-spacing: 0.5px; */
    text-decoration: none;
}
.mid{
    border-bottom: 2px solid white;

    float: right;
    margin-right: 100px;
    width: 1000px;
    height: 70px;
    /* height: 40px; */
    /* margin-top: 20px; */
    /* background-color: cadetblue; */
}
.mid ul{
    overflow: auto;
}
.mid li{
    float: left;
    list-style: none;
    /* color: burlywood; */
    font-size: 0.6cm;
}
.mid li a{
    display: inline-block;
    /* border: 1px solid black; */
    padding: 0px 15px;
    color: burlywood;
    text-decoration: none;
}

.mid li a.active, .mid li a:hover{
    color: whitesmoke;
    text-decoration: underline;
}
.btn{
    float: right;
    margin: 0px 10px;
    background: none;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    /* background-color: lightslategray; */
    padding: 4px 10px;
    cursor: pointer;
    font-family: inherit;
    padding-bottom: 5px;
}
.btn:hover{
    background-color: #1d1818;
}
.container{
    /* border-top: 2px solid white; */
    /* border-bottom: 2px solid white; */
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-radius: 30px;
    width: 600px;
    height: 300px;
    margin: 60px 90px;
    padding: 21px 32px;
    text-align: center;
    font-size: 30px;
    color: white;
    text-decoration: underline;
}
.ipt input{
    text-align: center;
    display: block;
    width: 300px;
    margin: 7px auto;
    padding: 3px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;

}
form{
    margin-top: 28px;
}
.btn1{
    
    margin: 0px 10px;
    background: none;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    /* background-color: lightslategray; */
    padding: 4px 10px;
    cursor: pointer;
    font-family: inherit;
    background-color: #1d1818;
    width: 102px;
}
.btn1:hover{
    opacity: 85%;
}